<div class="container-fluid vh-100">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="row" style="margin-top: 10px">
    <div class="col-9">
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <div class="d-flex">
            <input #customerName class="form-control me-2" type="search" placeholder="Tên khách hàng"
                   aria-label="Search">
            <input #customerEmail class="form-control me-2" type="search" placeholder="email" aria-label="Search">
            <select #customerType class="form-select me-2" aria-label="Default select example">
              <option selected value="">Loại khách hàng</option>
              <option *ngFor="let customerType of customerTypeList">{{customerType.name}}</option>
            </select>
            <button (click)="searchCustomer(customerName.value,customerEmail.value,customerType.value)" class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </nav>
    </div>
    <!--    <button routerLink="/customer/create" type="button" class="btn btn-success col-3">Thêm mới</button>-->
    <a href="/customer/create" type="button" class="btn btn-success col-3">Thêm mới</a>
  </div>

  <table class="table table-light table-striped table-bordered">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Kiểu khách hàng</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">Giới tính</th>
      <th scope="col">Số CMND</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Email</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody *ngFor="let customer of customerList | paginate:{itemsPerPage:5,currentPage: p}, index as i">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{customer.customerType.name}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.dateOfBirth}}</td>
      <td *ngIf="customer.gender==1">Nam</td>
      <td *ngIf="customer.gender==0">Nữ</td>
      <td *ngIf="customer.gender==2">Khác</td>

      <td>{{customer.idCard}}</td>
      <td>{{customer.phoneNumber}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td>
        <button [routerLink]="['/customer/update',customer.id]" type="button" class="btn btn-warning">Sửa</button>
      </td>
      <!--      <td><img src="https://media.istockphoto.com/id/1176969364/vi/anh/nh%C3%A0-t%C3%B9-c%C5%A9-c%E1%BB%A7a-%C4%91%E1%BB%A9c.jpg?s=1024x1024&w=is&k=20&c=7Baosfv0MDSeNaZX8QdkEBBLHYC0-KLX89rxfkYcQs0=" alt=""></td>-->
      <td>
        <button (click)="customerRemove(customer.id,customer.name)" type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
          Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

  <app-footter></app-footter>
</div>

<!--modal Xóa-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa khách hàng <span style="color: red">{{nameRemoveCustomer}}</span> không ???
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button (click)="remove(idRemoveCustomer)" type="button" data-bs-dismiss="modal" class="btn btn-primary">Xóa
        </button>
      </div>
    </div>
  </div>
</div>
