<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách khách hàng</title>
</head>
<body>
<div class="container-fluid vh-100">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-10">
      <h1 class="text-center">Danh sách hợp đồng</h1>
    </div>
    <div class="col-2">
      <button routerLink="/contract/create" type="button" class="btn btn-danger">Danger</button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Ngày bắt đầu</th>
      <th scope="col">Ngày kết thúc</th>
      <th scope="col">Tiền đặt cọc</th>
      <th scope="col">Nhân viên</th>
      <th scope="col">Khách hàng</th>
      <th scope="col">Dịch vụ</th>
      <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let contract of contractList">
      <td>{{contract.id}}</td>
      <td>{{contract.startDate}}</td>
      <td>{{contract.endDate}}</td>
      <td>{{contract.deposit}}</td>
      <td>{{contract.employee.name}}</td>
      <td>{{contract.customer.name}}</td>
      <td>{{contract.facility.name}}</td>
      <td>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>


