


  <div class="container-fluid vh-100">
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="row">
      <div class="col-xl-2">
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>
          <button style="background-color: #fff;color: #0d6056;border-color: white" type="button"
                  class="btn btn-primary">Button
          </button>


        </div>
      </div>
      <div class="col-xl-10" style="border-left: solid #0d6056 2px">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img style="height: 400px"
                   src="https://channel.mediacdn.vn/2020/9/17/photo-1-1600314136939484390371.jpg"
                   class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img style="height: 400px"
                   src="https://media.ex-cdn.com/EXP/media.vntravellive.com/files/maihonguyenkieu/2019/09/21/5225-nhung-resort-sang-trong-nhat-the-gioi-115141.jpg"
                   class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img style="height: 400px"
                   src="https://dichoi.com.vn/uploads/001-Dichoi/1-La-ban-du-lich/6-Resort-nghi-duong/10-resort-viet-nam-duoc-vinh-danh-the-gioi-phan-2/10-resort-viet-nam-duoc-vinh-danh-the-gioi-phan-2-1.JPG"
                   class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque cum dignissimos, impedit iure
          porro praesentium repudiandae! Atque, dolorum eos et ex id iste maiores molestiae reiciendis! Dolorum
          facere mollitia nemo rem sint veniam veritatis! Aspernatur at consequuntur cum deserunt dolores, ducimus
          eius laborum, magnam nulla odit perferendis praesentium quas sit voluptatibus voluptatum. Deserunt
          possimus quaerat quam quas velit! Alias beatae delectus, deserunt distinctio doloribus ducimus eaque
          eius eum exercitationem facere impedit incidunt ipsam laboriosam minus molestias mollitia, natus nisi
          obcaecati omnis praesentium quam quia quibusdam quidem quis ratione, recusandae rem sed sequi similique
          soluta suscipit tempora ut vel vero voluptatem voluptates voluptatum! Ab accusamus adipisci aliquam
          aliquid asperiores dicta dolor dolores doloribus, excepturi fugit illo itaque molestias nam
          necessitatibus perspiciatis quos sequi voluptatem. Ab accusamus adipisci aliquam amet blanditiis
          consequuntur culpa cupiditate doloribus enim fugiat iusto nam necessitatibus odio odit omnis
          perspiciatis quibusdam repudiandae, sapiente sit soluta temporibus tenetur, totam unde voluptates
          voluptatibus? Adipisci amet, atque cupiditate eaque error est excepturi, explicabo ipsa iure laudantium
          minima mollitia neque non nostrum obcaecati pariatur porro, possimus quaerat quasi ratione repudiandae
          sequi similique sit soluta sunt velit vero voluptate. A, asperiores beatae cumque, dignissimos ducimus
          enim est illum nisi obcaecati praesentium quia quis rem reprehenderit, sed tenetur totam unde velit!
          Expedita illum iure nostrum odio ullam. Doloribus eius esse est tenetur voluptatibus. Consectetur,
          deleniti, pariatur? Cumque error, fuga, hic impedit, magni perspiciatis placeat quia quidem repellat
          velit vero voluptates? Aspernatur deleniti fugit obcaecati pariatur quod saepe, voluptatum? Ad
          asperiores assumenda, deserunt dignissimos doloribus dolorum et explicabo facere illo incidunt iure
          laboriosam libero minus molestiae natus necessitatibus odio optio, quis quod repudiandae similique sint
          sunt, tempore tenetur veniam veritatis vero voluptatem. Aperiam doloremque ea facilis nostrum. Ab
          accusamus autem beatae commodi eligendi et eum iste laboriosam minima, nisi officia optio porro tenetur
          voluptas!</p>
      </div>
    </div>
    <app-footter></app-footter>
  </div>



