<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <!-- CSS only -->
</head>
<body>
<div class="row"><h1 class="text-center">Thêm mới dịch vụ</h1></div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <form id="facilityType" style="height: 300px">
      <div class="mb-3">
        <label for="exampleInputEmail2" class="form-label">Tên dịch vụ</label>
        <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">Diện tích sử dụng</label>
        <input type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail15" class="form-label">Chi phí thuê</label>
        <input type="text" class="form-control" id="exampleInputEmail15" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail5" class="form-label">Số người tối đa</label>
        <input type="text" class="form-control" id="exampleInputEmail5" aria-describedby="emailHelp">

      </div>

      <div class="mb-3">
        <label for="exampleInputEmail17" class="form-label">Kiểu thuê</label>
        <select id="exampleInputEmail17" class="form-select form-select-lg mb-3"
                aria-label=".form-select-lg example">
          <option>
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="facilityType" class="form-label">Loại dịch vụ</label>
        <select class="form-select form-select-lg mb-3"
                aria-label=".form-select-lg example">
          <option name="facilityType">
          </option>
        </select>
      </div>

      <div id="standardRoom" class="mb-3">
        <label for="standardRoom" class="form-label">Tiêu chuẩn phòng</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
      </div>
      <div id="descriptionOtherConvenience" class="mb-3">
        <label for="descriptionOtherConvenience" class="form-label">Mô tả tiện nghi khác</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
      </div>
      <div id="poolArea" class="mb-3">
        <label  for="poolArea" class="form-label">Diện tích hồ bơi</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
      </div>
      <div id="numberOfFloors" class="mb-3">
        <label for="numberOfFloors" class="form-label">Số tầng</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
      </div>
      <div id="facilityFree" class="mb-3">
        <label for="facilityFree" class="form-label">Dịch vụ miễn phí</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-3"></div>
</div>

</body>
</html>
