<form [formGroup]="formUpdate" (ngSubmit)="updateStudent()">
  <div class="mb-3">
    <label for="exampleInputEmail" class="form-label">ID</label>
    <input formControlName="id" type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tên học sinh</label>
    <input formControlName="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <div class="form-check">
      <input formControlName="gender" [value]="1" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Nam
      </label>
    </div>
    <div class="form-check">
      <input formControlName="gender" [value]="0" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Nữ
      </label>
    </div>
    <div class="form-check">
      <input formControlName="gender" [value]="2" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
      <label class="form-check-label" for="flexRadioDefault3">
        Khác
      </label>
    </div>
  </div>
  <div class="mb-3">
    <select [compareWith]="compareWidth"  formControlName="clazz" class="form-select" aria-label="Default select example">
      <option *ngFor="let clazz of clazzList" [ngValue]="clazz">{{clazz.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
