<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Danh sách dịch vụ</title>
  <!-- CSS only -->
</head>
<body>
<div class="container-fluid vh-100">

  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-8">
      <h1 class="text-center">Danh sách dịch vụ</h1>
    </div>
    <div class="col-2">
      <button routerLink="/facility/create" type="button" class="btn btn-success">Thêm mới</button>
    </div>

  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="row col-10" style="box-sizing: border-box">
      <div *ngFor="let facility of facilityList | paginate:{itemsPerPage:3,currentPage: p}" class="card col-4" style="box-sizing: border-box">
        <img style="height: 300px" src="{{facility.img}}" class="card-img-top" alt="Không có ảnh">
        <div class="card-body">
          <h5 class="card-title">{{facility.name}}</h5>
          <p class="card-text">Room size: {{facility.area}}</p>
        </div>

        <div class="card-footer">
          <div class="row">
            <button  type="button" class="btn btn-outline-success col-5" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 30px;margin-left: 10px">
              Xóa
            </button>
            <button [routerLink]="['/facility/update',facility.id]" type="button" class="btn btn-outline-success col-5">Sửa</button>
          </div>
        </div>
        <br>
      </div>
    </div>
    <br>
    <div class="col-1"></div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

  <app-footter></app-footter>

</div>
</body>


</html>
