<h1>Chỉnh sửa thông tin sản phẩm</h1>
<form [formGroup]="productFormUpdate" (ngSubmit)="updateProduct()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td><select formControlName="category" [compareWith]="compareWidth">
        <option *ngFor="let category of listCategory" [ngValue]="category">
          {{category.name}}</option>
      </select>
      </td>
      <td><button>Lưu</button></td>
    </tr>
  </table>
</form>
